Repository hmcts/send-letter-service-container-zip, pull requests merged in 2021-06, with the labels that each got.

#4 DTSBPS-613: PgpEncryptionUtil fix deprecated createTempFile method
  src/main/java/uk/gov/hmcts/reform/sendletter/services/encryption/PgpEncryptionUtil.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-4

#5 DTSBPS-613: fix sonar coverage for models
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-5

#6 DTSBPS-626: fix spring vulnerabilities
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-6

#7 Add dependabot config
  .github/dependabot.yml
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-7

#20 DTSBPS-633: upgrade spring boot
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sendletter/services/SasTokenGeneratorServiceTest.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-20

#24 DTSBPS-642: logging message in app-insight
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sendletter/Application.java
Labels: ns:rpe, prd:rpe, rel:rpe-send-letter-service-container-zip-pr-24
